<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- Force latest IE rendering engine & Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{% block title %}Tech Tip of the Day{% endblock %}</title>
        
        <meta name="description" content="Daily tips with an emphasis on Linux and Python" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0" />
        
        <!-- TODO: Replace favicon.ico & apple-touch-icon.png -->
        <link rel="shortcut icon" href="{{ MEDIA_URL }}/favicon.ico" />
        <link rel="apple-touch-icon" href="{{ MEDIA_URL }}/apple-touch-icon.png" />
        
        <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}/js/modernizr-2.0.6.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}/js/techtips.js"></script>
        {% block script %}{% endblock %}
        
        <link rel="stylesheet" type="text/css" media="screen" 
              href="{{ MEDIA_URL }}/css/default.css" />
        <link rel="stylesheet" type="text/css" 
              media="screen and (max-device-width: 1024px) and (orientation: portrait)" 
              href="{{ MEDIA_URL }}/css/ipad-portrait.css" />
        <link rel="stylesheet" type="text/css" 
              media="screen and (max-device-width: 1024px) and (orientation: landscape)" 
              href="{{ MEDIA_URL }}/css/ipad-landscape.css" />
        <link rel="stylesheet" type="text/css" 
              media="screen and (max-device-width: 533px)" 
              href="{{ MEDIA_URL }}/css/htc_desire.css" />
        <link rel="stylesheet" type="text/css" 
              media="screen and (max-device-width: 480px)" 
              href="{{ MEDIA_URL }}/css/iphone.css" />
        <link rel="stylesheet" type="text/css" media="handheld" 
              href="{{ MEDIA_URL }}/css/handheld.css" />
    </head>
    <body>
        <div class="outer">
            <header>
                {% block header %}
                <h1>Tech Tip of the Day</h1>
                {% endblock %}
            </header>
            
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            
            <footer>
                <p>&copy; Copyright 2011 by Norman Hooper and Hendrik Schoeman</p>
            </footer>
        </div>
    </body>
</html>